.#{$wf-css-prefix}-i-womens-health:before {
  content: $wf-var-i-womens-health;
}
.#{$wf-css-prefix}-i-waiting-area:before {
  content: $wf-var-i-waiting-area;
}
.#{$wf-css-prefix}-i-volume-control:before {
  content: $wf-var-i-volume-control;
}
.#{$wf-css-prefix}-i-ultrasound:before {
  content: $wf-var-i-ultrasound;
}
.#{$wf-css-prefix}-i-text-telephone:before {
  content: $wf-var-i-text-telephone;
}
.#{$wf-css-prefix}-i-surgery:before {
  content: $wf-var-i-surgery;
}
.#{$wf-css-prefix}-i-stairs:before {
  content: $wf-var-i-stairs;
}
.#{$wf-css-prefix}-i-radiology:before {
  content: $wf-var-i-radiology;
}
.#{$wf-css-prefix}-i-physical-therapy:before {
  content: $wf-var-i-physical-therapy;
}
.#{$wf-css-prefix}-i-pharmacy:before {
  content: $wf-var-i-pharmacy;
}
.#{$wf-css-prefix}-i-pediatrics:before {
  content: $wf-var-i-pediatrics;
}
.#{$wf-css-prefix}-i-pathology:before {
  content: $wf-var-i-pathology;
}
.#{$wf-css-prefix}-i-outpatient:before {
  content: $wf-var-i-outpatient;
}
.#{$wf-css-prefix}-i-mental-health:before {
  content: $wf-var-i-mental-health;
}
.#{$wf-css-prefix}-i-medical-records:before {
  content: $wf-var-i-medical-records;
}
.#{$wf-css-prefix}-i-medical-library:before {
  content: $wf-var-i-medical-library;
}
.#{$wf-css-prefix}-i-mammography:before {
  content: $wf-var-i-mammography;
}
.#{$wf-css-prefix}-i-laboratory:before {
  content: $wf-var-i-laboratory;
}
.#{$wf-css-prefix}-i-labor-delivery:before {
  content: $wf-var-i-labor-delivery;
}
.#{$wf-css-prefix}-i-immunizations:before {
  content: $wf-var-i-immunizations;
}
.#{$wf-css-prefix}-i-imaging-root-category:before {
  content: $wf-var-i-imaging-root-category;
}
.#{$wf-css-prefix}-i-imaging-alternative-pet:before {
  content: $wf-var-i-imaging-alternative-pet;
}
.#{$wf-css-prefix}-i-imaging-alternative-mri:before {
  content: $wf-var-i-imaging-alternative-mri;
}
.#{$wf-css-prefix}-i-imaging-alternative-mri-two:before {
  content: $wf-var-i-imaging-alternative-mri-two;
}
.#{$wf-css-prefix}-i-imaging-alternative-ct:before {
  content: $wf-var-i-imaging-alternative-ct;
}
.#{$wf-css-prefix}-i-fire-extinguisher:before {
  content: $wf-var-i-fire-extinguisher;
}
.#{$wf-css-prefix}-i-family-practice:before {
  content: $wf-var-i-family-practice;
}
.#{$wf-css-prefix}-i-emergency:before {
  content: $wf-var-i-emergency;
}
.#{$wf-css-prefix}-i-elevators:before {
  content: $wf-var-i-elevators;
}
.#{$wf-css-prefix}-i-ear-nose-throat:before {
  content: $wf-var-i-ear-nose-throat;
}
.#{$wf-css-prefix}-i-drinking-fountain:before {
  content: $wf-var-i-drinking-fountain;
}
.#{$wf-css-prefix}-i-cardiology:before {
  content: $wf-var-i-cardiology;
}
.#{$wf-css-prefix}-i-billing:before {
  content: $wf-var-i-billing;
}
.#{$wf-css-prefix}-i-anesthesia:before {
  content: $wf-var-i-anesthesia;
}
.#{$wf-css-prefix}-i-ambulance:before {
  content: $wf-var-i-ambulance;
}
.#{$wf-css-prefix}-i-alternative-complementary:before {
  content: $wf-var-i-alternative-complementary;
}
.#{$wf-css-prefix}-i-administration:before {
  content: $wf-var-i-administration;
}
.#{$wf-css-prefix}-i-social-services:before {
  content: $wf-var-i-social-services;
}
.#{$wf-css-prefix}-i-smoking:before {
  content: $wf-var-i-smoking;
}
.#{$wf-css-prefix}-i-restrooms:before {
  content: $wf-var-i-restrooms;
}
.#{$wf-css-prefix}-i-restaurant:before {
  content: $wf-var-i-restaurant;
}
.#{$wf-css-prefix}-i-respiratory:before {
  content: $wf-var-i-respiratory;
}
.#{$wf-css-prefix}-i-registration:before {
  content: $wf-var-i-registration;
}
.#{$wf-css-prefix}-i-oncology:before {
  content: $wf-var-i-oncology;
}
.#{$wf-css-prefix}-i-nutrition:before {
  content: $wf-var-i-nutrition;
}
.#{$wf-css-prefix}-i-nursery:before {
  content: $wf-var-i-nursery;
}
.#{$wf-css-prefix}-i-no-smoking:before {
  content: $wf-var-i-no-smoking;
}
.#{$wf-css-prefix}-i-neurology:before {
  content: $wf-var-i-neurology;
}
.#{$wf-css-prefix}-i-mri-pet:before {
  content: $wf-var-i-mri-pet;
}
.#{$wf-css-prefix}-i-interpreter-services:before {
  content: $wf-var-i-interpreter-services;
}
.#{$wf-css-prefix}-i-internal-medicine:before {
  content: $wf-var-i-internal-medicine;
}
.#{$wf-css-prefix}-i-intensive-care:before {
  content: $wf-var-i-intensive-care;
}
.#{$wf-css-prefix}-i-inpatient:before {
  content: $wf-var-i-inpatient;
}
.#{$wf-css-prefix}-i-information-us:before {
  content: $wf-var-i-information-us;
}
.#{$wf-css-prefix}-i-infectious-diseases:before {
  content: $wf-var-i-infectious-diseases;
}
.#{$wf-css-prefix}-i-hearing-assistance:before {
  content: $wf-var-i-hearing-assistance;
}
.#{$wf-css-prefix}-i-health-services:before {
  content: $wf-var-i-health-services;
}
.#{$wf-css-prefix}-i-health-education:before {
  content: $wf-var-i-health-education;
}
.#{$wf-css-prefix}-i-gift-shop:before {
  content: $wf-var-i-gift-shop;
}
.#{$wf-css-prefix}-i-genetics:before {
  content: $wf-var-i-genetics;
}
.#{$wf-css-prefix}-i-first-aid:before {
  content: $wf-var-i-first-aid;
}
.#{$wf-css-prefix}-i-dermatology:before {
  content: $wf-var-i-dermatology;
}
.#{$wf-css-prefix}-i-dental:before {
  content: $wf-var-i-dental;
}
.#{$wf-css-prefix}-i-coffee-shop:before {
  content: $wf-var-i-coffee-shop;
}
.#{$wf-css-prefix}-i-chapel:before {
  content: $wf-var-i-chapel;
}
.#{$wf-css-prefix}-i-cath-lab:before {
  content: $wf-var-i-cath-lab;
}
.#{$wf-css-prefix}-i-care-staff-area:before {
  content: $wf-var-i-care-staff-area;
}
.#{$wf-css-prefix}-i-accessibility:before {
  content: $wf-var-i-accessibility;
}
.#{$wf-css-prefix}-i-diabetes-education:before {
  content: $wf-var-i-diabetes-education;
}
.#{$wf-css-prefix}-i-hospital:before {
  content: $wf-var-i-hospital;
}
.#{$wf-css-prefix}-i-kidney:before {
  content: $wf-var-i-kidney;
}
.#{$wf-css-prefix}-i-ophthalmology:before {
  content: $wf-var-i-ophthalmology;
}
.#{$wf-css-prefix}-womens-health:before {
  content: $wf-var-womens-health;
}
.#{$wf-css-prefix}-waiting-area:before {
  content: $wf-var-waiting-area;
}
.#{$wf-css-prefix}-volume-control:before {
  content: $wf-var-volume-control;
}
.#{$wf-css-prefix}-ultrasound:before {
  content: $wf-var-ultrasound;
}
.#{$wf-css-prefix}-text-telephone:before {
  content: $wf-var-text-telephone;
}
.#{$wf-css-prefix}-surgery:before {
  content: $wf-var-surgery;
}
.#{$wf-css-prefix}-stairs:before {
  content: $wf-var-stairs;
}
.#{$wf-css-prefix}-radiology:before {
  content: $wf-var-radiology;
}
.#{$wf-css-prefix}-physical-therapy:before {
  content: $wf-var-physical-therapy;
}
.#{$wf-css-prefix}-pharmacy:before {
  content: $wf-var-pharmacy;
}
.#{$wf-css-prefix}-pediatrics:before {
  content: $wf-var-pediatrics;
}
.#{$wf-css-prefix}-pathology:before {
  content: $wf-var-pathology;
}
.#{$wf-css-prefix}-outpatient:before {
  content: $wf-var-outpatient;
}
.#{$wf-css-prefix}-ophthalmology:before {
  content: $wf-var-ophthalmology;
}
.#{$wf-css-prefix}-mental-health:before {
  content: $wf-var-mental-health;
}
.#{$wf-css-prefix}-medical-records:before {
  content: $wf-var-medical-records;
}
.#{$wf-css-prefix}-medical-library:before {
  content: $wf-var-medical-library;
}
.#{$wf-css-prefix}-mammography:before {
  content: $wf-var-mammography;
}
.#{$wf-css-prefix}-laboratory:before {
  content: $wf-var-laboratory;
}
.#{$wf-css-prefix}-labor-delivery:before {
  content: $wf-var-labor-delivery;
}
.#{$wf-css-prefix}-kidney:before {
  content: $wf-var-kidney;
}
.#{$wf-css-prefix}-immunizations:before {
  content: $wf-var-immunizations;
}
.#{$wf-css-prefix}-imaging-root-category:before {
  content: $wf-var-imaging-root-category;
}
.#{$wf-css-prefix}-imaging-alternative-pet:before {
  content: $wf-var-imaging-alternative-pet;
}
.#{$wf-css-prefix}-imaging-alternative-mri:before {
  content: $wf-var-imaging-alternative-mri;
}
.#{$wf-css-prefix}-imaging-alternative-mri-two:before {
  content: $wf-var-imaging-alternative-mri-two;
}
.#{$wf-css-prefix}-imaging-alternative-ct:before {
  content: $wf-var-imaging-alternative-ct;
}
.#{$wf-css-prefix}-hospital:before {
  content: $wf-var-hospital;
}
.#{$wf-css-prefix}-fire-extinguisher:before {
  content: $wf-var-fire-extinguisher;
}
.#{$wf-css-prefix}-family-practice:before {
  content: $wf-var-family-practice;
}
.#{$wf-css-prefix}-emergency:before {
  content: $wf-var-emergency;
}
.#{$wf-css-prefix}-elevators:before {
  content: $wf-var-elevators;
}
.#{$wf-css-prefix}-ear-nose-throat:before {
  content: $wf-var-ear-nose-throat;
}
.#{$wf-css-prefix}-drinking-fountain:before {
  content: $wf-var-drinking-fountain;
}
.#{$wf-css-prefix}-diabetes-education:before {
  content: $wf-var-diabetes-education;
}
.#{$wf-css-prefix}-cardiology:before {
  content: $wf-var-cardiology;
}
.#{$wf-css-prefix}-billing:before {
  content: $wf-var-billing;
}
.#{$wf-css-prefix}-anesthesia:before {
  content: $wf-var-anesthesia;
}
.#{$wf-css-prefix}-ambulance:before {
  content: $wf-var-ambulance;
}
.#{$wf-css-prefix}-alternative-complementary:before {
  content: $wf-var-alternative-complementary;
}
.#{$wf-css-prefix}-administration:before {
  content: $wf-var-administration;
}
.#{$wf-css-prefix}-accessibility:before {
  content: $wf-var-accessibility;
}
.#{$wf-css-prefix}-social-services:before {
  content: $wf-var-social-services;
}
.#{$wf-css-prefix}-smoking:before {
  content: $wf-var-smoking;
}
.#{$wf-css-prefix}-restrooms:before {
  content: $wf-var-restrooms;
}
.#{$wf-css-prefix}-restaurant:before {
  content: $wf-var-restaurant;
}
.#{$wf-css-prefix}-respiratory:before {
  content: $wf-var-respiratory;
}
.#{$wf-css-prefix}-oncology:before {
  content: $wf-var-oncology;
}
.#{$wf-css-prefix}-nutrition:before {
  content: $wf-var-nutrition;
}
.#{$wf-css-prefix}-nursery:before {
  content: $wf-var-nursery;
}
.#{$wf-css-prefix}-no-smoking:before {
  content: $wf-var-no-smoking;
}
.#{$wf-css-prefix}-neurology:before {
  content: $wf-var-neurology;
}
.#{$wf-css-prefix}-mri-pet:before {
  content: $wf-var-mri-pet;
}
.#{$wf-css-prefix}-interpreter-services:before {
  content: $wf-var-interpreter-services;
}
.#{$wf-css-prefix}-internal-medicine:before {
  content: $wf-var-internal-medicine;
}
.#{$wf-css-prefix}-intensive-care:before {
  content: $wf-var-intensive-care;
}
.#{$wf-css-prefix}-inpatient:before {
  content: $wf-var-inpatient;
}
.#{$wf-css-prefix}-information-us:before {
  content: $wf-var-information-us;
}
.#{$wf-css-prefix}-infectious-diseases:before {
  content: $wf-var-infectious-diseases;
}
.#{$wf-css-prefix}-hearing-assistance:before {
  content: $wf-var-hearing-assistance;
}
.#{$wf-css-prefix}-health-services:before {
  content: $wf-var-health-services;
}
.#{$wf-css-prefix}-health-education:before {
  content: $wf-var-health-education;
}
.#{$wf-css-prefix}-gift-shop:before {
	content: "\e686";
}
.#{$wf-css-prefix}-genetics:before {
  content: $wf-var-genetics;
}
.#{$wf-css-prefix}-first-aid:before {
  content: $wf-var-first-aid;
}
.#{$wf-css-prefix}-dental:before {
  content: $wf-var-dental;
}
.#{$wf-css-prefix}-coffee-shop:before {
  content: $wf-var-coffee-shop;
}
.#{$wf-css-prefix}-chapel:before {
  content: $wf-var-chapel;
}
.#{$wf-css-prefix}-cath-lab:before {
  content: $wf-var-cath-lab;
}
.#{$wf-css-prefix}-care-staff-area:before {
  content: $wf-var-care-staff-area;
}
.#{$wf-css-prefix}-registration:before {
  content: $wf-var-registration;
}
.#{$wf-css-prefix}-dermatology:before {
  content: $wf-var-dermatology;
}
