/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'webfont-medical-icons';
  src: url('#{$md-font-path}/webfont-medical-icons.eot?v=#{$md-version}');
  src: url('#{$md-font-path}/webfont-medical-icons.eot?#iefix&v=#{$md-version}') format('embedded-opentype'),
    url('#{$md-font-path}/webfont-medical-icons.ttf?v=#{$md-version}') format('truetype'),
    url('#{$md-font-path}/webfont-medical-icons.woff?v=#{$md-version}') format('woff'),
    url('#{$md-font-path}/webfont-medical-icons.svg?v=#{$md-version}#webfont-medical-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
