// Variables
// --------------------------

$md-font-path:        "../fonts" !default;
$md-font-size-base:   18px !default;
$md-line-height-base: 1 !default;
$md-css-prefix:       md !default;
$md-version:          "0.0.1" !default;
$md-border-color:     #eee !default;
$md-inverse:          #fff !default;
$md-li-width:         (30em / 14) !default;

$md-var-i-womens-health: "\e600";
$md-var-i-waiting-area: "\e601";
$md-var-i-volume-control: "\e602";
$md-var-i-ultrasound: "\e603";
$md-var-i-text-telephone: "\e604";
$md-var-i-surgery: "\e605";
$md-var-i-stairs: "\e606";
$md-var-i-radiology: "\e607";
$md-var-i-physical-therapy: "\e608";
$md-var-i-pharmacy: "\e609";
$md-var-i-pediatrics: "\e60a";
$md-var-i-pathology: "\e60b";
$md-var-i-outpatient: "\e60c";
$md-var-i-mental-health: "\e60d";
$md-var-i-medical-records: "\e60e";
$md-var-i-medical-library: "\e60f";
$md-var-i-mammography: "\e610";
$md-var-i-laboratory: "\e611";
$md-var-i-labor-delivery: "\e612";
$md-var-i-immunizations: "\e613";
$md-var-i-imaging-root-category: "\e614";
$md-var-i-imaging-alternative-pet: "\e615";
$md-var-i-imaging-alternative-mri: "\e616";
$md-var-i-imaging-alternative-mri-two: "\e617";
$md-var-i-imaging-alternative-ct: "\e618";
$md-var-i-fire-extinguisher: "\e619";
$md-var-i-family-practice: "\e61a";
$md-var-i-emergency: "\e61b";
$md-var-i-elevators: "\e61c";
$md-var-i-ear-nose-throat: "\e61d";
$md-var-i-drinking-fountain: "\e61e";
$md-var-i-cardiology: "\e61f";
$md-var-i-billing: "\e620";
$md-var-i-anesthesia: "\e621";
$md-var-i-ambulance: "\e622";
$md-var-i-alternative-complementary: "\e623";
$md-var-i-administration: "\e624";
$md-var-i-social-services: "\e625";
$md-var-i-smoking: "\e626";
$md-var-i-restrooms: "\e627";
$md-var-i-restaurant: "\e628";
$md-var-i-respiratory: "\e629";
$md-var-i-registration: "\e62a";
$md-var-i-oncology: "\e62b";
$md-var-i-nutrition: "\e62c";
$md-var-i-nursery: "\e62d";
$md-var-i-no-smoking: "\e62e";
$md-var-i-neurology: "\e62f";
$md-var-i-mri-pet: "\e630";
$md-var-i-interpreter-services: "\e631";
$md-var-i-internal-medicine: "\e632";
$md-var-i-intensive-care: "\e633";
$md-var-i-inpatient: "\e634";
$md-var-i-information-us: "\e635";
$md-var-i-infectious-diseases: "\e636";
$md-var-i-hearing-assistance: "\e637";
$md-var-i-health-services: "\e638";
$md-var-i-health-education: "\e639";
$md-var-i-gift-shop: "\e63a";
$md-var-i-genetics: "\e63b";
$md-var-i-first-aid: "\e63c";
$md-var-i-dermatology: "\e63d";
$md-var-i-dental: "\e63e";
$md-var-i-coffee-shop: "\e63f";
$md-var-i-chapel: "\e640";
$md-var-i-cath-lab: "\e641";
$md-var-i-care-staff-area: "\e642";
$md-var-i-accessibility: "\e643";
$md-var-i-diabetes-education: "\e644";
$md-var-i-hospital: "\e645";
$md-var-i-kidney: "\e646";
$md-var-i-ophthalmology: "\e647";
$md-var-womens-health: "\e648";
$md-var-waiting-area: "\e649";
$md-var-volume-control: "\e64a";
$md-var-ultrasound: "\e64b";
$md-var-text-telephone: "\e64c";
$md-var-surgery: "\e64d";
$md-var-stairs: "\e64e";
$md-var-radiology: "\e64f";
$md-var-physical-therapy: "\e650";
$md-var-pharmacy: "\e651";
$md-var-pediatrics: "\e652";
$md-var-pathology: "\e653";
$md-var-outpatient: "\e654";
$md-var-ophthalmology: "\e655";
$md-var-mental-health: "\e656";
$md-var-medical-records: "\e657";
$md-var-medical-library: "\e658";
$md-var-mammography: "\e659";
$md-var-laboratory: "\e65a";
$md-var-labor-delivery: "\e65b";
$md-var-kidney: "\e65c";
$md-var-immunizations: "\e65d";
$md-var-imaging-root-category: "\e65e";
$md-var-imaging-alternative-pet: "\e65f";
$md-var-imaging-alternative-mri: "\e660";
$md-var-imaging-alternative-mri-two: "\e661";
$md-var-imaging-alternative-ct: "\e662";
$md-var-hospital: "\e663";
$md-var-fire-extinguisher: "\e664";
$md-var-family-practice: "\e665";
$md-var-emergency: "\e666";
$md-var-elevators: "\e667";
$md-var-ear-nose-throat: "\e668";
$md-var-drinking-fountain: "\e669";
$md-var-diabetes-education: "\e66a";
$md-var-cardiology: "\e66b";
$md-var-billing: "\e66c";
$md-var-anesthesia: "\e66d";
$md-var-ambulance: "\e66e";
$md-var-alternative-complementary: "\e66f";
$md-var-administration: "\e670";
$md-var-accessibility: "\e671";
$md-var-social-services: "\e672";
$md-var-smoking: "\e673";
$md-var-restrooms: "\e674";
$md-var-restaurant: "\e675";
$md-var-respiratory: "\e676";
$md-var-oncology: "\e677";
$md-var-nutrition: "\e678";
$md-var-nursery: "\e679";
$md-var-no-smoking: "\e67a";
$md-var-neurology: "\e67b";
$md-var-mri-pet: "\e67c";
$md-var-interpreter-services: "\e67d";
$md-var-internal-medicine: "\e67e";
$md-var-intensive-care: "\e67f";
$md-var-inpatient: "\e680";
$md-var-information-us: "\e681";
$md-var-infectious-diseases: "\e682";
$md-var-hearing-assistance: "\e683";
$md-var-health-services: "\e684";
$md-var-health-education: "\e685";
$md-var-gift-shop: "\e686";
$md-var-genetics: "\e687";
$md-var-first-aid: "\e688";
$md-var-dental: "\e689";
$md-var-coffee-shop: "\e68a";
$md-var-chapel: "\e68b";
$md-var-cath-lab: "\e68c";
$md-var-care-staff-area: "\e68d";
$md-var-registration: "\e68e";
$md-var-dermatology: "\e68f";
