.DS_Store
.idea/*
.svn/*
.git/*
.tmp
tmp
.sass-cache
node_modules
css/
fonts/
js/
packages/png/
packages/sprites/
packages/svg/
packages/144-64px-#000000.zip
packages/selection.json
404.html
apple-touch-icon-precomposed.png
favicon.ico
icon-selector.html
index.html
